# PANDAS

# Pandas Nedir ?

    Pandas, veri kümeleriyle çalışmak için kullanılan bir Python kütüphanesidir.

     Verileri analiz etme, temizleme, keşfetme ve işleme işlevlerine sahiptir.

     "Pandas" adı hem "Panel Verileri"ne hem de "Python Veri Analizi"ne atıfta bulunur ve Wes McKinney tarafından 2008 yılında oluşturulmuştur.

# Pandas Neden Kullanılır?
    Pandas, büyük verileri analiz etmemize ve istatistiksel teorilere dayalı sonuçlar çıkarmamıza olanak tanır.

    Pandas, dağınık veri kümelerini temizleyebilir ve bunları okunabilir ve alakalı hale getirebilir.

    Veri biliminde ilgili veriler çok önemlidir.

# Pandas Ne Yapabilir?
    Pandas size veriler hakkında cevaplar verir:

    İki veya daha fazla sütun arasında bir korelasyon var mı?
    Ortalama değer nedir?
    Maksimum değer?
    Minimum değer?
    Pandalar ayrıca alakasız veya boş veya NULL değerler gibi yanlış değerler içeren satırları da silebilir. Buna veri temizleme denir .

# Pandas Kurulumu
    Bir sistemde zaten Python ve PIP kuruluysa, Pandas kurulumu çok kolaydır.

    Bu komutu kullanarak yükleyin:

    CMD'ye pip install pandas kelimesini yapıştırın.

# Pandas İçe Aktar
    Pandas yüklendikten sonra, anahtar kelimeyi ekleyerek uygulamalarınıza aktarın import:

In [2]:
import pandas

    Pandas genelikle pd kısaltılması ile de aktarılır.

In [4]:
import pandas as pd

    veri Seti oluşturma:

In [5]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

    ikiside aynı sonucu verir.

                                                                                                                        Pandas Series

# Seris nedir?
    Pandas Serisi, tablodaki bir sütun gibidir.

    Herhangi bir türden veriyi tutan tek boyutlu bir dizidir.

In [6]:
#Series oluşturma:

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [7]:
# series im ilk değerini döndürür.
print(myvar[0])

1

In [8]:
a = [1, 7, 2]
# index parametresi ile argümanların indexlerini adlandırabilirsiniz.
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [9]:
# sözlük biçiminde bir series oluşturursanız anahtarlar seriesin etiketlei haline gelir.
calories = {"day1": 420, "day2": 380, "day3": 390}

# index parametresini kullanarak sözlükteki belirli anahtarları çekerekte series oluşturabiliriz.(sözlükteki bütün değişkenleri kullanmaya biliriz)
myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

                                                                                                               DataFrames

    Pandasdaki veri kümeleri genellikle DataFrame adı verilen çok boyutlu tablolardır.

    Seri bir sütun gibidir, DataFrame tüm tablodur.

In [10]:
# İki Seriden bir DataFrame oluşturun:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

# Satırı Bul
    Yukarıdaki sonuçtan da görebileceğiniz gibi, DataFrame satır ve sütunlardan oluşan bir tablo gibidir.

    Pandalar, locbir veya daha fazla belirtilen satır(lar)ı döndürmek için özniteliği kullanır.

In [11]:
# 0 satırını döndürür. Bu işlem dataframei series'e döndürür.
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [12]:
# 0 ve 1 satırını döndürür. Bu işlem Dataframei series'e döndürür ama burada [] kullandığımız için Dataframe olarak kalır.
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [13]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
# index parametresini kullanarak indexleri adlandıra biliyoruz bunun için birisim listesi olusturmamız gerek.
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

# Pandas csv dosyası okuma

    Büyük veri kümelerini saklamanın basit bir yolu, CSV dosyalarını (virgülle ayrılmış dosyalar) kullanmaktır.

    CSV dosyaları düz metin içerir ve Pandas dahil herkes tarafından okunabilen iyi bilinen bir formattır.

In [14]:
df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# max_rows

    Döndürülen satır sayısı, Pandas seçenek ayarlarında tanımlanır.

    Açıklama ile sisteminizin maksimum satırlarını kontrol edebilirsiniz pd.options.display.max_rows.

In [15]:
# döndürülen maximum satır sayısı
print(pd.options.display.max_rows) 
# Sistemimde sayı 60'tır, bu, DataFrame 60'tan fazla satır içeriyorsa, print(df)ifadenin yalnızca başlıkları ve ilk ve son 5 satırı döndüreceği anlamına gelir.

60

In [16]:
pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Pandas JSON dosyası okuma

    Büyük veri kümeleri genellikle depolanır veya JSON olarak çıkarılır.

    JSON düz metindir, ancak bir nesne biçimine sahiptir ve Pandas da dahil olmak üzere programlama dünyasında iyi bilinir.

    JSON nesneleri, Python sözlükleriyle aynı biçime sahiptir.

In [17]:
import pandas as pd

df = pd.read_json('data.js')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [18]:
df = pd.read_csv('data.csv')

#head() fonksiyonu içine girilen tam sayı kadar veri setindeki gözlem gösterir, içine parametre olarak tam sayı girilmez ise 5 tane gözlem gösterir.
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [19]:
# tail() fonksiyonu son 5 gözlemi gösterir
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
# info() fonksiyonu dataframein bilgilerini verir.
df.info()

# Pandas Veri Temizleme

Veri temizleme, veri kümenizdeki bozuk verileri düzeltmek anlamına gelir.

Kötü veriler şunlar olabilir:
 - Boş hücreler
 - Veriler yanlış biçimde
 - Yanlış veri
 - kopyalar
 - Bu eğitimde, hepsiyle nasıl başa çıkacağınızı öğreneceksiniz.

# Boş Hücreler

    Boş hücreler, verileri analiz ettiğinizde potansiyel olarak size yanlış bir sonuç verebilir.

# Satırları Kaldır
    Boş hücrelerle başa çıkmanın bir yolu, boş hücreler içeren satırları kaldırmaktır.

    Bu genellikle iyidir, çünkü veri kümeleri çok büyük olabilir ve birkaç satırın kaldırılması sonuç üzerinde büyük bir etki yaratmaz.

In [26]:
# dropna() fonksiyonu birlikte kullanılan df nin içindeki boş hücreleri ortadan kaldırır ve değişkene atar.
new_df = df.dropna()

# new_df fonksiyonu uzun olduğundan head() fonksiyonunu kullandım.
new_df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [29]:
# inplance = True parametresini girdiğimizden df deki tüm NULL gözlemlerini kaldırır.
df.dropna(inplace = True)

# df fonksiyonu uzun olduğundan head() fonksiyonunu kullandım.
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

# Boş değerleri kaldırma

In [30]:
df = pd.read_csv('data.csv')

In [31]:
# fillna fonksiyonu dfdeki boş gözlemlerin yerine belirtilen değeri girer.
df.fillna(130, inplace = True)

In [33]:
# filina fonksiyonunu sadece belirtilen sutun(değişkenler) içinde yapabiliriz.
df["Calories"].fillna(130, inplace = True)

# Ortalama, Medyan veya Mod Kullanarak Değiştir

In [39]:
df = pd.read_csv('data.csv')

# df dataframeindeki Calories sutunundaki(değişkenindeki) gözlemlerin ortalamalarını alıyoruz.
x = df["Calories"].mean()
print(x)

# filina fonksiyonu ile df dataframedeki boş yerlere ortalama değerimizi atıyoruz.
df["Calories"].fillna(x, inplace = True)
df.head(20)

375.79024390243904

    Duration  Pulse  Maxpulse    Calories
0         60    110       130  409.100000
1         60    117       145  479.000000
2         60    103       135  340.000000
3         45    109       175  282.400000
4         45    117       148  406.000000
5         60    102       127  300.000000
6         60    110       136  374.000000
7         45    104       134  253.300000
8         30    109       133  195.100000
9         60     98       124  269.000000
10        60    103       147  329.300000
11        60    100       120  250.700000
12        60    106       128  345.300000
13        60    104       132  379.300000
14        60     98       123  275.000000
15        60     98       120  215.200000
16        60    100       120  300.000000
17        45     90       112  375.790244
18        60    103       123  323.000000
19        45     97       125  243.000000

In [38]:
df = pd.read_csv('data.csv')

# df dataframeindeki Calories sutunundaki(değişkenindeki) gözlemlerin medianlarını alıyoruz.
x = df["Calories"].median()
x
# filina fonksiyonu ile df dataframedeki boş yerlere median değerimizi atıyoruz.
df["Calories"].fillna(x, inplace = True)
df.head(20)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112     318.6
18        60    103       123     323.0
19        45     97       125     243.0

In [41]:
df = pd.read_csv('data.csv')

# df dataframeindeki Calories sutunundaki(değişkenindeki) gözlemlerin modunu alıyoruz.
x = df["Calories"].mode()[0]
x

# filina fonksiyonu ile df dataframedeki boş yerlere mod değerimizi atıyoruz.
df["Calories"].fillna(x, inplace = True)
df.head(20)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112     300.0
18        60    103       123     323.0
19        45     97       125     243.0

# Yanlış Biçimdeki Veriler

    Yanlış formatta verilere sahip hücreler, verileri analiz etmeyi zorlaştırabilir, hatta imkansız hale getirebilir.

    Bunu düzeltmek için iki seçeneğiniz var: satırları kaldırın veya sütunlardaki tüm hücreleri aynı biçime dönüştürün.

# Yanlış Verileri Temizleme

    "Yanlış veri", "boş hücreler" veya "yanlış format" olmak zorunda değildir, sadece yanlış olabilir, örneğin birisi "1.99" yerine "199" kaydetmiş gibi.

    Bazen veri setine bakarak yanlış veriyi fark edebilirsiniz çünkü ne olması gerektiğine dair bir beklentiniz vardır.